# Maven 构建输出目录
target/

# 日志文件
*.log

# SonarQube 分析缓存（不必提交）
.sonar/
.scannerwork/

# Eclipse 配置文件
.classpath
.project
.settings/

# IntelliJ IDEA 配置文件
.idea/
*.iml
*.iws
out/

# VS Code 配置（如果你用它）
.vscode/

# OS 缓存
.DS_Store
Thumbs.db

# 临时构建脚本或调试文件
sources.txt
*.swp
